body {
    font: normal 12pt Arial;
    background-color: cadetblue;
    text-align: center;
}

h1 {
    color: #fff;
}

button {
    cursor: pointer;
}

section {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 600px;
    min-height: 300px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

.inpTask {
    display: flex;
    justify-content: space-around;
}

.task {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: cadetblue;
    border-radius: 20px;
    justify-content: flex-start; /* Garante alinhamento à esquerda */
    margin-top: 5px;
}

#txtTask {
    margin-left: 10px;
    color: #fff;
}

.task button {
    margin-left: auto; /* Empurra o botão para o canto direito */
    
}